
body{
    background-color:rgb(148, 148, 245);
}
.one {
    background-color: #FFF4A3;
}

#one {
    background-color: blue;
    color:aliceblue;
}

table{
    width:40%;
}

.navbar a{
    color:aliceblue;
    float: right;
    text-decoration: none;
    padding:5px;
}
